body{
	background-color: #D9E7FA;
}

a:link{
	color: #590A2E;
	text-decoration: none;
}

a:visited{
	color: #590A2E;
	text-decoration: none;
}

a:hover{
	color: #106EE8;
}

#fejlec {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	background-color: #EFEFEF;
}

.udvozlo{
	margin: 0 auto;
	width:100%;

	
}
.menusor {
	width: 60%;
	height: auto;
	margin: 0 auto;
}

.menusor ul{
	position: absolute;
	background-color: #DEDEDE;
	border: 1px solid #000;
	list-style: none;
	padding: 0;
	margin: 0;
}

.menusor ul li{
	float:left;
	height:35px;
	width:auto;
	padding: 0;
	margin: 0;
}

.menusor ul li a{
	display: block;
	padding: 6px 12px;
	text-decoration: none;
}

.menusor ul li a:hover{
	background-color: #FFFFFF;

}

.menusor ul li ul{
	list-style: none;
	list-style: none;
	width:150px;
	padding: 0;
	margin: 0;
	border: 1px solid #ece6e8;
	border-bottom: 3px solid #d9ced2;
	position: absolute;
	display: none;
}

.menusor ul li ul li{
	float:none;
	width:150px;
}

.menusor ul li ul li a:hover{
	background-color: #82B4ED;
	color: #FFFFFF;
}

.menusor ul li:hover ul{
	display:block;
}

.kosar{
	position:relative;
	left:55px;
	margin: 4px;
	padding: 5px 20px;
	width:auto;
	float:left;
	background-color: #FCEE4C;
	border: 1px solid black;

}


#regform {
	position: relative;
	border: 1px solid black;
	left: 0px;
	top: 100px;
	margin: 0 auto:
	
}

#loginform{
	position: relative;
	border: 1px solid black;
	left: 0px;
	top: 100px;
	margin: 0 auto:
	
}

.row {
    text-align: justify;
    min-width: 412px;
    border: 1px solid green;
    width: 50%; 
    height: 200px;
    padding: 5px;
}

.row:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.col {
    display: inline-block;
}
.box {
    border: 1px solid #DDD;
    width: 160px;
    height: 160px;
    margin: 0 auto;
}

#termeklista{
	background-color:#EDEDED;
	border: 1px solid black;
	margin: 0 auto;
	width:40%;
	height:auto;
}
.termekdata{
	text-align: justify;
	background-color: #DEDEDE;
    border: 1px solid green;
    height: 20	0px;
    padding: 5px;
}
.termekdata:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.termektitle{
	font-weight: bold;
	color: #FF00AE;
}

.termekar{
	display:inline;
}


.termekmegjelenes{
	display:inline;
}

.termekcol{
	display:inline-block;
}
.termekbox{
	border: 1px solid #DDD;
	margin: 0 auto;
}

#kosarba{
	margin: 4px;
	padding: 5px 20px;
	width:auto;
	float:left;
	background-color: #FCEE4C;
	border: 1px solid black;
	box-shadow: 5px 5px 2px #888888;
}

#kosargombok{
	margin: 0 auto;
	width:44%;
	height:auto;
}

.tovabb{
	margin: 4px;
	padding: 8px 22px;
	width:auto;
	float:left;
	background-color: #FCEE4C;
	border: 1px solid black;
	box-shadow: 5px 5px 2px #888888;
	font-weight: bolder;
	font-size: 110%;
}

.torles{
	margin: 4px;
	padding: 5px 20px;
	width:auto;
	float:left;
	background-color: white;
	border: 1px solid black;
	box-shadow: 2px 2px 1px #888888;
}
